/* src/components/Navbar.css */

.navbar {
  background-color: #1f1f1f;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.left {
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  font-weight: bolder;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar-link:hover,
.navbar-link.active {
  background-color: #333333;
  border-radius: 4px;
}
