.navbar {
  background-color: #007bff;
  color: white;
}

.left {
  flex-grow: 1;
}

.right {
  display: flex;
  gap: 1rem;
}

.navbar-link {
  color: white;
  text-decoration: none;
}

.navbar-link:hover {
  text-decoration: underline;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: flex;
}

/* Media queries for responsive design */
@media (min-width: 768px) {
  .desktop-only {
    display: flex;
  }
  .mobile-only {
    display: none;
  }
}
